<header class="theme <%= @themeClass %>">
    <select name="theme" id="" onchange="onThemeSelChanged(this.value)">
        <%= @themes.each do |theme|%>
            <option value="<%=theme.id%>">
                <%=theme.name%>
            </option>
        <% end %>
        <% if @editMode %>
            <option value = "0">&lt;&lt; New &gt;&gt;</option>
        <% end %>
    </select>
    <% if @editMode %>
        <div onclick="onEditTheme()"><p>Edit</p></div>
    <% end %>
</header>
