<header class="theme <%= @themeClass %>">
    <select name="theme" id="theme_dropdown" onchange="onThemeSelChanged(this.value)">
        <%= @themes.each do |theme|%>
            <option value="<%=theme.id%>">
                <%=theme.name%>
            </option>
        <% end %>
        <% if @editMode %>
            <option value = "0">&lt;&lt; New &gt;&gt;</option>
        <% end %>
    </select>
    <% if @editMode %>
        <button id="edit_theme" onclick="onEditTheme()">Edit</button>
    <% end %>
</header>
<div class="main_body">
    <div id="topic"></div>
    <div id="detail"></div>
</div>